*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    text-align: center;
    background-image: url('img/Fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.different{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.formLogin {
    background-color: #ffffffce;
    border: 4px #108373 solid;
    border-radius: 15px;
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formLogin h1 {
    margin: 50px;
    text-transform: uppercase;
    font-size: 50px;
    color: #108373;
}
.texto {
    height: 40px;
    width: 350px;
    text-align: center;
    border: #108373 2px solid;
    border-radius: 25px;
    margin: 30px;
    background-color: transparent;
}
.administrador {
    background-color: #ffffffa8;
    border: 4px #108373 solid;
    width: 95%;
    padding: 40px; 
    margin: 0 auto; 
}
.logoutBtn {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
.boton {
    height: 40px;
    width: 250px;
    text-align: center;
    border: #108373 2px solid;
    border-radius: 25px;
    margin: 30px;
    background-color: #60b1a6;
}
.boton:hover {
    background-color: #b1eee6;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #60b1a6;
}

